<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <nav>
        <ul>
            <li>
                <button type="submit" class="success">{{ 'Save'|trans }}</button>
            </li>
            <li>
                <button onclick="back()" class="back">{{ 'Back'|trans }}</button>
            </li>
        </ul>
    </nav>
</form>
