<div class="fos_user_user_show">
    <p><strong>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</strong>: {{ user.username }}</p>
    <p><strong>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</strong>: {{ user.email }}</p>
    {% if app.user.scores|length %}
        <table>
            <thead>
                <tr>
                    <th>{{ 'Score'|trans }}</th>
                    <th>{{ 'Date'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for score in app.user.scores %}
                <tr>
                    <td>{{ score.score }}</td>
                    <td>{{ score.createdAt|date("H:i, d M Y") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
<nav>
    <ul>
        <li>
            <button onclick="renderAjaxPage('{{ path('fos_user_profile_edit') }}')">{{ 'Edit Profile'|trans }}</button>
        </li>
        <li>
            <button onclick="renderAjaxPage('{{ path('fos_user_change_password') }}')">{{ 'Reset Password'|trans }}</button>
        </li>
        <li>
            <button onclick="back()" class="back">{{ 'Back'|trans }}</button>
        </li>
    </ul>
</nav>
