{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ form(form) }}
{% else %}
    <form action="" method="post" id="settings-form">
        <div class="select-wrapper">
            <label for="car_speed">{{ 'Car speed'|trans }}</label>
            <select name="car_speed" id="car_speed" onchange="updateBgSpeed(this.value)">
                <option value="3">{{ 'Slow'|trans }}</option>
                <option value="6">{{ 'Normal'|trans }}</option>
                <option value="10">{{ 'Fast'|trans }}</option>
            </select>
        </div>
        <div class="select-wrapper">
            <label for="car_amount">{{ 'Car amount'|trans }}</label>
            <select name="car_amount" id="car_amount" onchange="updateEnemiesAmount(this.value)">
                <option value="120">{{ 'Less'|trans }}</option>
                <option value="70">{{ 'Normal'|trans }}</option>
                <option value="40">{{ 'More'|trans }}</option>
            </select>
        </div>
        <div class="select-wrapper">
            <label for="enemies_speed">{{ 'Enemies speed'|trans }}</label>
            <select name="enemies_speed" id="enemies_speed" onchange="updateEnemiesSpeed(this.value)">
                <option value="10">{{ 'Slow'|trans }}</option>
                <option value="5">{{ 'Normal'|trans }}</option>
                <option value="3">{{ 'Fast'|trans }}</option>
            </select>
        </div>
    </form>
    <nav>
        <ul>
            <li><button onclick="back()">{{ 'Save'|trans }}</button></li>
        </ul>
    </nav>
    <script>
        $(document).ready(function(){
            configureSettingsForm();
        });
    </script>
{% endif %}
