{% extends 'base.html.twig' %}

{% block title %}
    The most awesome game evur
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/local.css') }}" />
{% endblock %}


{% block body %}
    <canvas id="canvas" width="1024" height="768" style="background-color:#333;"></canvas>

    <div class="controls">
        <button onclick="global_game.pause()">{{ 'Pause'|trans }}</button>
    </div>
    <div id="timer"></div>
    <div class="overlay">
        <div class="topbar">
            <div class="logged-in">
                <nav>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}" class="ajax">
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                ({{ 'layout.logout'|trans({}, 'FOSUserBundle') }})
                            </a>
                        </li>
                    {% else %}
                            <li><a href="{{path('fos_user_security_login')}}" class="ajax">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}" class="ajax">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}
                    <li>
                        {% if app.request.locale == "pl" %}
                            <a href="{{ path('game_default_index', {'_locale': 'en'}) }}">English</a>
                        {% else %}
                            <a href="{{ path('game_default_index', {'_locale': 'pl'}) }}">Polski</a>
                        {% endif %}
                    </li>
                </nav>
            </div>
        </div>
        <div class="wrapper">
            <h1>{{ 'Even More Awesome Game!'|trans }}</h1>
            <div class="messages">
                {% for type, messages in app.session.flashbag.all %}
                    <div class="alert alert-{{ type }}" role="alert">
                        {% for message in messages %}
                            <p>{{ message|trans }} <button onclick="closeMessage(this)" class="close">{{ 'Close'|trans }}</button></p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <nav id="mainMenu">
                <ul>
                    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><button onclick="renderAjaxPage('{{path('fos_user_security_login')}}')">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</button></li>
                    {%  endif %}
                    <li><button onclick="global_game.resume()" class="resume hidden">{{ 'Resume'|trans }}</button></li>
                    <li><button onclick="global_game.startGameplay()">{{ 'New Game'|trans }}</button></li>
                    <li><button onclick="renderAjaxPage('{{ path('game_user_settings') }}')">{{ 'Settings'|trans }}</button></li>
                    <li><button onclick="renderAjaxPage('{{ path('game_score_index') }}')">{{ 'Best Scores'|trans }}</button></li>
                </ul>
            </nav>
            <div id="contents"></div>
            <div id="loader">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <!-- JS Libraries -->
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}?locales=pl,en"></script>
    <script src="{{ asset('libs/jquery-2.2.2.js') }}"></script>
    <script src="{{ asset('libs/Box2D.js') }}"></script>

    <!-- Local JS -->
    <script src="{{ asset('js/game/init.js') }}"></script>
    <script src="{{ asset('js/game/box2d.js') }}"></script>
    <script src="{{ asset('js/game/game.js') }}"></script>
    <script src="{{ asset('js/game/car.js') }}"></script>
    <script src="{{ asset('js/game/player.js') }}"></script>
    <script src="{{ asset('js/game/wall.js') }}"></script>
    <script src="{{ asset('js/local.js') }}"></script>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <script>
            jQuery(document).ready(function(){
                global_game.player_id = {{ app.user.id }};
                global_game.car_amount = {{ app.user.carAmount }}; // amount of cars pushed towards us
                global_game.car_speed = {{ app.user.enemiesSpeed }}; // enemy speed
                global_game.bgSpeed = {{ app.user.carSpeed }}; // background speed, which basically means how fast we are driving
            });
        </script>
    {% endif %}
{% endblock %}