<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
<nav>
    <ul>
        <li><button onclick="renderAjaxPage('{{path('fos_user_security_login')}}')">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button></li>
        <li><button onclick="back()" class="back">{{ 'Back'|trans }}</button></li>
    </ul>
</nav>