<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <nav>
        <ul>
            <li>
                <button type="submit">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
            </li>
            <li>
                <button onclick="back()" class="back">{{ 'Back'|trans }}</button>
            </li>
        </ul>
    </nav>
</form>
