html, body {
  margin: 0;
  border: 0;
  outline: 0;
  font-family: "Helvetica Neue", sans-serif;
  color: white;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.wrapper {
  width: 700px;
  max-width: 90%;
  margin: 100px auto 0;
  text-align: center;
  position: relative;
  max-height: calc(90% - 28px);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.controls {
  position: fixed;
  top: 40px;
  right: 40px;
}

#timer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  color: white;
}

button:not(.close), input[type="submit"] {
  border: 0;
  width: 300px;
  max-width: 100%;
  padding: 15px 20px;
  background: lightcoral;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  transition: all 300ms ease-in-out;
  &:hover {
    background: crimson;
    color: white;
  }
  &:active, &:focus {
    outline: 0;
  }
  &.back {
    background: aquamarine;
    &:hover {
      background: mediumaquamarine;
    }
  }
}

button.close {
  background: transparent;
  border: 0;
  color: white;
  transition: all 300ms ease-in-out;
  vertical-align: top;

  &:hover {
      color: lightcoral;
      cursor: pointer;
  }
  &:active, &:focus {
    outline: 0;
  }
}

ul {
  padding: 0;
}

nav li {
  padding: 10px 0;
  list-style-type: none;
}

h1 {
  font-weight: 400;
  text-align: center;
}

select, input[type="text"], input[type="email"], input[type="password"] {
  display: block;
  min-width: 300px;
  margin: 10px auto 30px;
  border: 0;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  padding: 15px 20px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
}

select {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  background: white url(http://www.freeiconspng.com/uploads/arrow-down-icon-png-9.png) no-repeat right;
  background-size: 25px 24px;
  background-position-x: calc(100% - 10px);
}

.checkbox-wrapper {
  margin: 10px auto 20px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

#mainMenu {
  overflow: hidden;
  max-height: 9999px;
  transition: all 300ms ease-in-out;
  &.hidden {
    display: block;
    max-height: 0;
  }
}

#loader {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  background: crimson;
  text-align: center;
  font-size: 10px;
  display: none;
  position: absolute;
  top: -80px;
  left: calc(50% - 35px);
  border-radius: 100%;
  &.shown {
    display: block;
  }
  > div {
    background-color: white;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.topbar {
  text-align: right;
  padding: 5px;
  li {
    display: inline-block;
    vertical-align: baseline;
  }
  button, a {
    appearance: none;
    border: 0;
    background: transparent;
    color: white;
    text-transform: none;
    width: auto;
    height: auto;
    padding: 0 5px;
    text-decoration: none;
    &:hover {
      color: lightcoral;
    }
  }
}

.alert {
  font-size: 20px;
  font-weight: 600;
  &.alert-success {
    color: lawngreen;
  }
  &.alert-error {
    color: darkred;
  }
}

table {
  width: 100%;
  th {
    font-size: 18px;
    color: crimson;
  }
  td, th {
    &:first-of-type {
      text-align: right;
      padding-right: 10px;
    }
    &:last-of-type {
      text-align: left;
      padding-left: 10px;
    }
  }
}

.fos_user_user_show {
  td, th {
    width: 50%;
  }
}