html, body {
  margin: 0;
  border: 0;
  outline: 0;
  font-family: "Helvetica Neue", sans-serif;
  color: white; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7); }

.wrapper {
  width: 700px;
  max-width: 90%;
  margin: 100px auto 0;
  text-align: center;
  position: relative;
  max-height: calc(90% - 28px);
  overflow-y: scroll; }
  .wrapper::-webkit-scrollbar {
    display: none; }

.controls {
  position: fixed;
  top: 40px;
  right: 40px; }

#timer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  color: white; }

button:not(.close), input[type="submit"] {
  border: 0;
  width: 300px;
  max-width: 100%;
  padding: 15px 20px;
  background: lightcoral;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  transition: all 300ms ease-in-out; }
  button:not(.close):hover, input[type="submit"]:hover {
    background: crimson;
    color: white; }
  button:not(.close):active, button:not(.close):focus, input[type="submit"]:active, input[type="submit"]:focus {
    outline: 0; }
  button:not(.close).back, input[type="submit"].back {
    background: aquamarine; }
    button:not(.close).back:hover, input[type="submit"].back:hover {
      background: mediumaquamarine; }

button.close {
  background: transparent;
  border: 0;
  color: white;
  transition: all 300ms ease-in-out;
  vertical-align: top; }
  button.close:hover {
    color: lightcoral;
    cursor: pointer; }
  button.close:active, button.close:focus {
    outline: 0; }

ul {
  padding: 0; }

nav li {
  padding: 10px 0;
  list-style-type: none; }

h1 {
  font-weight: 400;
  text-align: center; }

select, input[type="text"], input[type="email"], input[type="password"] {
  display: block;
  min-width: 300px;
  margin: 10px auto 30px;
  border: 0;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  padding: 15px 20px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box; }

select {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  background: white url(http://www.freeiconspng.com/uploads/arrow-down-icon-png-9.png) no-repeat right;
  background-size: 25px 24px;
  background-position-x: calc(100% - 10px); }

.checkbox-wrapper {
  margin: 10px auto 20px; }

.hidden {
  display: none; }

.shown {
  display: block; }

#mainMenu {
  overflow: hidden;
  max-height: 9999px;
  transition: all 300ms ease-in-out; }
  #mainMenu.hidden {
    display: block;
    max-height: 0; }

#loader {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  background: crimson;
  text-align: center;
  font-size: 10px;
  display: none;
  position: absolute;
  top: -80px;
  left: calc(50% - 35px);
  border-radius: 100%; }
  #loader.shown {
    display: block; }
  #loader > div {
    background-color: white;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out; }
  #loader .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
  #loader .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }
  #loader .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
  #loader .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
.topbar {
  text-align: right;
  padding: 5px; }
  .topbar li {
    display: inline-block;
    vertical-align: baseline; }
  .topbar button, .topbar a {
    appearance: none;
    border: 0;
    background: transparent;
    color: white;
    text-transform: none;
    width: auto;
    height: auto;
    padding: 0 5px;
    text-decoration: none; }
    .topbar button:hover, .topbar a:hover {
      color: lightcoral; }

.alert {
  font-size: 20px;
  font-weight: 600; }
  .alert.alert-success {
    color: lawngreen; }
  .alert.alert-error {
    color: darkred; }

table {
  width: 100%; }
  table th {
    font-size: 18px;
    color: crimson; }
  table td:first-of-type, table th:first-of-type {
    text-align: right;
    padding-right: 10px; }
  table td:last-of-type, table th:last-of-type {
    text-align: left;
    padding-left: 10px; }

.fos_user_user_show td, .fos_user_user_show th {
  width: 50%; }

/*# sourceMappingURL=local.css.map */
