 <h1>{{ 'Best Scores'|trans }}</h1>
{% if scores|length %}
    <table class="">
        <thead>
        <tr>
            <th>{{ 'Username'|trans }}</th>
            <th>{{ 'Score'|trans }}</th>
            <th>{{ 'Date'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for score in scores %}
            <tr>
                <td>
                    {% if score.user %}
                        {{ score.user }}
                    {% else %}
                        {{ 'Anonymous User'|trans }}
                    {% endif %}

                </td>
                <td>{{ score.score }}</td>
                <td>{{ score.createdAt|date("H:i, d M Y") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="alert">{{ 'No scores found.'|trans }}</p>
{% endif %}
<nav>
    <ul>
        <li><button onclick="back()" class="back">{{ 'Back'|trans }}</button></li>
    </ul>
</nav>